.news-div {
	margin-top: 35px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card {
	margin-top: 15px;
}

.content {
	width: 70%;
	margin: auto;
}

#article-content {
	width: 70%;
	margin: auto;
	text-align: center;
}

.article-img {
	width: 100%;
	height: 400px;
	margin-bottom: 50px;
}

div.container-fluid {
	width: 70%;
	margin: auto;
}

img.slider-picture {
	object-fit: cover;
	width: 100%;
	min-height: 100%;
}

.carousel-item {
	height: 500px;
	width: 100%;
	position: relative;
}

.featurette img{
	max-width: 500px;
	width: 100%;
	margin: auto;
}

.comment-row {
	padding-left: 50px;
}

.comments-box {
	margin: auto;
}

.comment-text {
	padding-right: 50px;
}

.article-content {
	white-space: pre-wrap;
}

.comment-form {
	display: grid;
	grid-template-columns: auto 50px 50px;
	align-items: start;
	padding: 0 50px;
}

textarea {
	resize: none;
}

.form-switch{
	position: absolute;
	top: 15px;
	right: 5px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(90, 90, 90, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



:root {
    /* --bg-color: black;
    --card-color: rgb(48, 48, 48);
    --font-color: white; 
	--icon-color: rgba(255, 255, 255, 1)
	*/

	--bg-color: white;
	--card-color: white;
	--font-color: black;
	--icon-color: rgba(0, 0, 0, 0.5);
	--font: 'Segoe UI';
	--button-color: rgb(140, 140, 140);
}


body{
    background-color: var(--bg-color);
	font-family: var(--font) !important
}

.card{
    background-color: var(--card-color);
    color: var(--font-color);
}

hr{
    color: var(--font-color);
}

.featurette{
    color: var(--font-color);
}

.nav-link{
    color: var(--font-color);
}

.article-top, #article-content, .darkmode-text{
    color: var(--font-color);
}

.card-button{
	background-color: var(--button-color);
}

.card-button:hover{
	background-color: var(--button-color);
	filter: brightness(90%);
}
