:root {
    --bg-color: black;
    --card-color: rgb(48, 48, 48);
    --font-color: white;
}


body{
    background-color: var(--bg-color);
}

.card{
    background-color: var(--card-color);
    color: var(--font-color);
}

hr{
    color: var(--font-color);
}

.featurette{
    color: var(--font-color);
}

.nav-link{
    color: var(--font-color);
}

.article-top, #article-content{
    color: var(--font-color);
}

