
body{
    background-color: black;
}

.card{
    background-color: rgb(48, 48, 48);
    color: white;
}

hr{
    color: white;
}

.featurette{
    color: white;
}

.nav-link{
    color: white;
}

.article-top, #article-content{
    color: white;
}

