:root {
    --bg-color: black;
    --card-color: rgb(48, 48, 48);
    --font-color: white;
}


body{
    background-color: var(--bg-color);
}

.card{
    background-color: var(--card-color);
    color: var(--font-color);
}

hr{
    color: var(--font-color);
}

.featurette{
    color: var(--font-color);
}

.nav-link{
    color: var(--font-color);
}

.article-top, #article-content{
    color: var(--font-color);
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

